.UserInfo {
  display: flex;
  align-items: center;
}

// .InfoBox {
//   text-align: center;
// }

.playTurnBg {
  background-color: #ffe4c4;
  border: 1px solid #fff;
}

.headImgInfo {
  width: 150px;
  margin-top: 3px;
  text-align: center;

  & > img {
    border-radius: 5px;
    width: 50px;
    height: 50px;
  }
}
