.UserInfo {
  display: flex;
  align-items: center;
}

.InfoBox {
  text-align: center;
}

.playTurnBg {
  background-color: #ffe4c4;
  border: 1px solid #fff;
}

.headImgInfo {
  width: 120px;
  height: 85px;
  padding-top: 9px;
  text-align: center;

  & > img {
    width: 50px;
    height: 50px;
  }
}