.CardList {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > div {
    &:not(:first-child) {
      justify-content: start;
      margin-top: -50px;
      margin-left: 7px;
    }
  }
}

.CardListChunk {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > div {
    & {
      margin-left: -47px;
    }
    &:nth-of-type(1) {
      margin-left: 0;
    }
  }
}

.Active {
  margin-top: -10px;
  border: 2px solid #fff;
}
