.Game {
  width: 1000px;
  height: 550px;
}

.Container {
  position: relative;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: blue;
}

.Title {
  margin: 80px 0;
  text-align: center;
  color: rgb(54, 57, 141);
}
.Content {
  margin: auto;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  .Cards {
    display: flex;
    & > div {
      margin-left: -40px;

      &:nth-child(2) {
        margin-top: 20px;
      }
      &:nth-child(3) {
        margin-top: 40px;
      }
    }
  }

  .ButtonGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;

    & > button {
      margin-top: 6px;
    }
  }
}

.GameTips {
  display: flex;
  justify-content: space-between;
}

.CardsOrder {
  font-size: 18px;

  & > span {
    margin-right: 10px;
  }
}

.currentColorBlock {
  padding: 2px 4px;
  line-height: 18px;
  color: white;
}

.topUser {
  display: flex;
  justify-content: center;
  margin-top: -90px;
  margin-bottom: 10px;
}

.leftUser {
  position: absolute;
  left: 15px;
  top: 170px;
}

.rightUser {
  position: absolute;
  right: 15px;
  top: 170px;
}

.UserCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.CurrentCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & > div {
    text-align: center;
    width: 100%;
  }
}

.AlreadyCards {
  height: 124px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 14px 0;

  & > div {
    & {
      margin-left: -47px;
    }
    &:nth-of-type(1) {
      margin-left: 0;
    }
  }
}

.EmptyCard {
  width: 82px;
  height: 124px;
  margin: 6px;
}

.OperateBtns {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.UserCardInfo {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MyUser {
  position: absolute;
  left: 0;
}
.MyCardList {
  margin-left: 20px;
  align-self: flex-start;
}
