.Operations {
  color: red;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.ColorBtn {
  width: 45px;
  height: 45px;
  color: white;
  margin-right: 10px;
}

$Red: red;
$Green: green;
$Yellow: #ffc107;
$Blue: #2156f3;

.R {
  background-color: $Red !important;
}
.G {
  background-color: $Green !important;
}
.Y {
  background-color: $Yellow !important;
}
.B {
  background-color: $Blue !important;
}