.Operations {
  color: red;
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
}

.GrabBtn {
  position: absolute;
  left: 320px;
  color: red;
}
.CancelGrabBtn {
  position: absolute;
  left: 400px;
}

.ColorBtn {
  width: 45px;
  height: 45px;
  color: white;
  margin-right: 10px;
}

$Red: red;
$Green: green;
$Yellow: #ffc107;
$Blue: #2156f3;

.Red {
  background-color: $Red !important;
}
.Green {
  background-color: $Green !important;
}
.Yellow {
  background-color: $Yellow !important;
}
.Blue {
  background-color: $Blue !important;
}
