.Game {
  margin-top: 12px;
  margin-left: 12px;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 800px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0;
}
.Container {
  color: blue;
}
