.Game {
  width: 1000px;
  height: 520px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #f0f0f0;
  // transform: scale(0.8);
}

.Container {
  position: relative;
  margin: 12px;
  padding: 12px;
  color: blue;
}

.GameTips {
  display: flex;
  justify-content: space-between;
}

.CardsOrder {
  font-size: 18px;

  & > span {
    margin-right: 10px;
  }

}

.currentColorBlock {
  padding: 2px 4px;
  line-height: 18px;
  color: white;
}

.topUser {
  display: flex;
  justify-content: center;
  margin-top: -90px;
  margin-bottom: 10px;
}

.leftUser {
  position: absolute;
  left: 15px;
  top: 170px;
}

.rightUser {
  position: absolute;
  right: 15px;
  top: 170px;
}

.UserCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.CurrentCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & > div {
    text-align: center;
    width: 100%;

  }
}

.AlreadyCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;

  & > div {
    & {
      margin-left: -47px;
    }
    &:nth-of-type(1) {
      margin-left: 0;
    }
  }
}

.EmptyCard {
  width: 82px;
  height: 144px;
  margin: 6px;
}

.OperateBtns {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.UserCardInfo {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MyUser {
  position: absolute;
  left: 0;
  bottom: 20px;
}
